/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */


 .custom_page {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  }


  
/* # 以下、全てのセレクタに「#custom_page」を付加して納品のこと */
/* # 入れ子にしてこの変換ツールを使用：https://www.sassmeister.com/ */

/* # =================================================================
   # Global selectors
   # ================================================================= */
   .custom_page *,
   .custom_page ::before,
   .custom_page ::after {
     background-repeat: no-repeat;
     /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
     box-sizing: inherit;
   }
   .custom_page ::before,
   .custom_page ::after {
     text-decoration: inherit;
     /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
     vertical-align: inherit;
   }
   .custom_page * {
     padding: 0;
     /* Reset `padding` and `margin` of all elements */
     margin: 0;
   }
   .custom_page hr {
     overflow: visible;
     /* Show the overflow in Edge and IE */
     height: 0;
     /* Add the correct box sizing in Firefox */
   }
   .custom_page details,
   .custom_page main {
     display: block;
     /* Render the `main` element consistently in IE. */
   }
   .custom_page summary {
     display: list-item;
     /* Add the correct display in all browsers */
   }
   .custom_page small {
     font-size: 80%;
     /* Set font-size to 80% in `small` elements */
   }
   .custom_page [hidden] {
     display: none;
     /* Add the correct display in IE */
   }
   .custom_page abbr[title] {
     border-bottom: none;
     /* Remove the bottom border in Chrome 57 */
     /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
     text-decoration: underline;
     text-decoration: underline dotted;
   }
   .custom_page a {
     background-color: transparent;
     /* Remove the gray background on active links in IE 10 */
   }
   .custom_page a:active,
   .custom_page a:hover {
     outline-width: 0;
     /* Remove the outline when hovering in all browsers */
   }
   .custom_page code,
   .custom_page kbd,
   .custom_page pre,
   .custom_page samp {
     font-family: monospace, monospace;
     /* Specify the font family of code elements */
   }
   .custom_page pre {
     font-size: 1em;
     /* Correct the odd `em` font sizing in all browsers */
   }
   .custom_page b,
   .custom_page strong {
     font-weight: bolder;
     /* Add the correct font weight in Chrome, Edge, and Safari */
   }
   .custom_page sub,
   .custom_page sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
   }
   .custom_page sub {
     bottom: -0.25em;
   }
   .custom_page sup {
     top: -0.5em;
   }
   .custom_page input {
     border-radius: 0;
   }
   .custom_page [disabled] {
     cursor: default;
   }
   .custom_page [type=number]::-webkit-inner-spin-button,
   .custom_page [type=number]::-webkit-outer-spin-button {
     height: auto;
     /* Correct the cursor style of increment and decrement buttons in Chrome */
   }
   .custom_page [type=search] {
     -webkit-appearance: textfield;
     /* Correct the odd appearance in Chrome and Safari */
     outline-offset: -2px;
     /* Correct the outline style in Safari */
   }
   .custom_page [type=search]::-webkit-search-decoration {
     -webkit-appearance: none;
     /* Remove the inner padding in Chrome and Safari on macOS */
   }
   .custom_page textarea {
     overflow: auto;
     /* Internet Explorer 11+ */
     resize: vertical;
     /* Specify textarea resizability */
   }
   .custom_page button,
   .custom_page input,
   .custom_page optgroup,
   .custom_page select,
   .custom_page textarea {
     font: inherit;
     /* Specify font inheritance of form elements */
   }
   .custom_page optgroup {
     font-weight: bold;
     /* Restore the font weight unset by the previous rule */
   }
   .custom_page button {
     overflow: visible;
     /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
   }
   .custom_page button,
   .custom_page select {
     text-transform: none;
     /* Firefox 40+, Internet Explorer 11- */
   }
   .custom_page button,
   .custom_page [type=button],
   .custom_page [type=reset],
   .custom_page [type=submit],
   .custom_page [role=button] {
     cursor: pointer;
     color: inherit;
   }
   .custom_page button::-moz-focus-inner,
   .custom_page [type=button]::-moz-focus-inner,
   .custom_page [type=reset]::-moz-focus-inner,
   .custom_page [type=submit]::-moz-focus-inner {
     border-style: none;
     padding: 0;
   }
   .custom_page button:-moz-focusring,
   .custom_page [type=button]::-moz-focus-inner,
   .custom_page [type=reset]::-moz-focus-inner,
   .custom_page [type=submit]::-moz-focus-inner {
     outline: 1px dotted ButtonText;
   }
   .custom_page button,
   .custom_page html [type=button],
   .custom_page [type=reset],
   .custom_page [type=submit] {
     -webkit-appearance: button;
     /* Correct the inability to style clickable types in iOS */
   }
   .custom_page button,
   .custom_page input,
   .custom_page select,
   .custom_page textarea {
     background-color: transparent;
     border-style: none;
   }
   .custom_page select {
     -moz-appearance: none;
     /* Firefox 36+ */
     -webkit-appearance: none;
     /* Chrome 41+ */
   }
   .custom_page select::-ms-expand {
     display: none;
     /* Internet Explorer 11+ */
   }
   .custom_page select::-ms-value {
     color: currentColor;
     /* Internet Explorer 11+ */
   }
   .custom_page legend {
     border: 0;
     /* Correct `color` not being inherited in IE 8/9/10/11 */
     color: inherit;
     /* Correct the color inheritance from `fieldset` elements in IE */
     display: table;
     /* Correct the text wrapping in Edge and IE */
     max-width: 100%;
     /* Correct the text wrapping in Edge and IE */
     white-space: normal;
     /* Correct the text wrapping in Edge and IE */
     max-width: 100%;
     /* Correct the text wrapping in Edge 18- and IE */
   }
   .custom_page ::-webkit-file-upload-button {
     /* Correct the inability to style clickable types in iOS and Safari */
     -webkit-appearance: button;
     color: inherit;
     font: inherit;
     /* Change font properties to `inherit` in Chrome and Safari */
   }
   .custom_page img {
     border-style: none;
     /* Remove border when inside `a` element in IE 8/9/10 */
   }
   .custom_page progress {
     vertical-align: baseline;
   }
   @media screen {
     .custom_page [hidden~=screen] {
       display: inherit;
     }
     .custom_page [hidden~=screen]:not(:active):not(:focus):not(:target) {
       position: absolute !important;
       clip: rect(0 0 0 0) !important;
     }
   }
   .custom_page [aria-busy=true] {
     cursor: progress;
   }
   .custom_page [aria-controls] {
     cursor: pointer;
   }
   .custom_page [aria-disabled] {
     cursor: default;
   }